body {
    background-color: black;
    border-style: dotted;
    border-color: greenyellow;
    padding: 3em;
}

.header {
    margin-top: 20%;
    text-align: center;
    font-size: 50px;
}

.header-2 {
    margin-top: 10%;
    text-align: center;
    font-size: 30px;
}

h1,
h2,
h3 {
    color: greenyellow;
    text-align: center;
}

.select_decade {
    color: greenyellow;
    text-align: center;
}

p {
    color: greenyellow
}

.genre,
.ratings,
.studio {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

img {
    padding: 10px;
}

.overview {
    border: 1px solid;
    padding: 10px;
    box-shadow: 5px 5px greenyellow;
    margin-left: 15em;
    margin-right: 15em;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 20px;
}

.select_button {
    text-align: center;
}

.select_movie {
    text-align: center;
    color: greenyellow;
}

.percents {
    font-size: 3em;
    text-align: center;
}

table {
    color: greenyellow;
    font-size: 70px;
    text-align: center;
    margin-left: auto;
    margin-right: auto;

}

td {
    padding: 18px;
}